<div class="container">
  <div class="row mt-3">
    <div class="col-md-2">
      <ul *ngIf="villes" class="list-group">
        <li *ngFor="let v of villes._embedded.villes" [ngClass] = "v==currentVille?'active':''" class = "list-group-item" (click) = "onGetCinemas(v)">{{v.name}}</li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Liste des cinémas</h3>
        </div>
        <div class="card-body">
          <ul *ngIf = "cinemas" class="nav nav-pills card-header-pills">
            <li *ngFor = "let c of cinemas._embedded.cinemas" class = "nav-item" (click) = "onGetSalles(c)"><a [ngClass] = "c==currentCinema?'active':''"  class="nav-link" >{{c.name}}</a></li>
          </ul>
          <div class="row" *ngIf = "salles">
            <div *ngFor = "let s of salles._embedded.salles" class="col-md-6 mt-3">
              <div class="card">
                <h5 class="card-header">{{s.name}}</h5>
                <div class="card-body row" *ngIf ="s.projections">
                  <div class="col-md-6">
                    <img src="{{cinemaService.host+'/imageFilm/'+s.projections._embedded.projections[0].film.id}}" alt="Image du film" >
                  </div>
                  <div class="col-md-6">
                    <ul class = "list-group">
                      <li class = "list-group-item bg-light"><strong >Séeances</strong></li>
                      <li [ngClass] = "p==currentProjection?'active':''" (click) = "onGetPlace(p)" class = "list-group-item" *ngFor = "let p of s.projections._embedded.projections">{{p.seance.heureDebut|date:'h:mm a'}} - <strong>( {{p.prix|number:'0.00'}} DH)</strong></li>
                    </ul>
                  </div>
                  <div *ngIf = "currentProjection" class = "mt-3">
                   <div *ngIf = "s.id == currentProjection.salle.id">
                    <div *ngIf = "currentProjection.tickets._embedded.tickets">
                      <button (click) = "onSelectedTicket(t)" [disabled] = "t.reserve == true" class = "{{getTicketClass(t)}}" *ngFor = "let t of currentProjection.tickets._embedded.tickets">
                        {{t.place.numero}}
                      </button>
                    </div>
                    <div class="mt-3 container">
                      <form #formulaire = "ngForm" (ngSubmit)="onPayTickets(formulaire.value)">
                        <div class="form-group">
                          <label for="nomClient">Nom du client</label>
                          <input type="text" class = "form-control" name="nomClient" ngModel>
                        </div>
                        <div class="form-group">
                          <label for="codePayement">Code payement</label>
                          <input type="text" class = "form-control" name="codePayement" ngModel>
                        </div>
                        <button type = "submit" class = " mt-2 btn btn-success">Payer</button>
                      </form>
                    </div>
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
