<div class="container">
  <div class="row mt-3">
    <div class="col-md-4">
      <ul *ngIf="villes" class="list-group">
        <li *ngFor="let v of villes._embedded.villes" [ngClass] = "v==currentVille?'active':''" class = "list-group-item" (click) = "onGetCinemas(v)">{{v.name}}</li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Liste des cinémas</h3>
        </div>
        <div class="card-body">
          <ul *ngIf = "cinemas" class="nav nav-pills card-header-pills">
            <li *ngFor = "let c of cinemas._embedded.cinemas" class = "nav-item" (click) = "onGetSalles(c)"><a [ngClass] = "c==currentCinema?'active':''"  class="nav-link" >{{c.name}}</a></li>
          </ul>
          <div class="row" *ngIf = "salles">
            <div *ngFor = "let s of salles._embedded.salles" class="col-md-6 mt-3">
              <div class="card">
                <h5 class="card-header">{{s.name}}</h5>
                <div class="card-body row" *ngIf ="s.projections">
                  <div class="col-md-6">
                    <img src="{{cinemaService.host+'/imageFilm/'+s.projections._embedded.projections[0].film.id}}" alt="Image du film" >
                  </div>
                  <div class="col-md-6">
                    <ul class = "list-group">
                      <li class = "list-group-item bg-primary"><strong style="color: white;">Séeances</strong></li>
                      <li class = "list-group-item" *ngFor = "let p of s.projections._embedded.projections">{{p.seance.heureDebut|date:'h:mm a'}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
